.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-home {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(239, 239, 239, 1);
}
.home-text {
  top: 106px;
  left: 134px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-rectangle4 {
  top: 233px;
  left: 134px;
  width: 129px;
  height: 27px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.home-text002 {
  top: 239px;
  left: 143px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text003 {
  font-weight: 500;
}
.home-vector {
  top: 245px;
  left: 244px;
  width: 6px;
  height: 4px;
  position: absolute;
}
.home-rectangle5 {
  top: 233px;
  left: 273px;
  width: 80px;
  height: 27px;
  position: absolute;
  border-color: transparent;
  border-radius: 2px;
}
.home-text005 {
  top: 239px;
  left: 286px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-vector01 {
  top: 245px;
  left: 337px;
  width: 6px;
  height: 4px;
  position: absolute;
}
.home-rectangle10 {
  top: 554px;
  left: 893px;
  width: 254px;
  height: 372px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-rectangle8 {
  top: 271px;
  left: 134px;
  width: 733px;
  height: 200px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-text007 {
  top: 299px;
  left: 215px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text009 {
  top: 325px;
  left: 215px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text010 {
  color: rgba(131, 131, 131, 1);
}
.home-text011 {
  color: rgba(0, 0, 0, 1);
}
.home-text013 {
  top: 323px;
  left: 436px;
  color: rgba(84, 146, 109, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text014 {
  color: rgba(84, 146, 109, 1);
}
.home-text016 {
  top: 325px;
  left: 342px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-maskgroup {
  top: 292px;
  left: 152px;
  width: 46px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-ellipse1 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.home-vector02 {
  top: 11.661977767944336px;
  left: 5.183077335357666px;
  width: 34px;
  height: 34px;
  position: absolute;
}
.home-vector03 {
  top: 325px;
  left: 327px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.home-text018 {
  top: 355px;
  left: 152px;
  color: rgba(0, 0, 0, 1);
  width: 693px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-vector1stroke {
  top: 416px;
  left: 147px;
  width: 697px;
  height: 1px;
  position: absolute;
}
.home-rectangle11 {
  top: 158px;
  left: 134px;
  width: 740px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-maskgroup1 {
  top: 158px;
  left: 134px;
  width: 740px;
  height: 63px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(165, 207, 197, 1);
}
.home-image2 {
  right: 12px;
  width: 232px;
  bottom: 1px;
  height: 61px;
  position: absolute;
  border-color: transparent;
}
.home-text023 {
  top: 176px;
  left: 147px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-navlink {
  display: contents;
}
.home-rectangle12 {
  top: 177px;
  left: 362px;
  width: 114px;
  height: 27px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  text-decoration: none;
}
.home-text025 {
  top: 183px;
  left: 374px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-group1 {
  top: 290px;
  left: 695px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-bxschatsvg {
  top: 5px;
  left: 6px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.home-text027 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group2 {
  top: 290px;
  left: 744px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-text029 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector04 {
  top: 6px;
  left: 8px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.home-vector3stroke {
  top: 600px;
  left: 911px;
  width: 220px;
  height: 1px;
  position: absolute;
}
.home-text031 {
  top: 571px;
  left: 911px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-group3 {
  top: 290px;
  left: 793px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-text033 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector05 {
  top: 6px;
  left: 8px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.home-frame1 {
  top: 425px;
  left: 784px;
  width: 59px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-navlink1 {
  display: contents;
}
.home-rectangle13 {
  top: 3px;
  left: 0px;
  width: 59px;
  height: 27px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  text-decoration: none;
}
.home-text035 {
  top: 9px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame15 {
  top: 425px;
  left: 706px;
  width: 59px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle131 {
  top: 3px;
  left: 0px;
  width: 59px;
  height: 27px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.home-text037 {
  top: 9px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame2 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 74px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 74px;
  position: absolute;
  border-color: transparent;
}
.home-text039 {
  top: 26px;
  left: 1066px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text041 {
  top: 23px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text043 {
  top: 26px;
  left: 675px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text045 {
  top: 26px;
  left: 735px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text047 {
  top: 26px;
  left: 789px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text049 {
  top: 26px;
  left: 1013px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-rectangle2 {
  top: 15px;
  left: 229px;
  width: 409px;
  height: 41px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-text051 {
  top: 26px;
  left: 242px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-vector06 {
  top: 26px;
  left: 613px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.home-maskgroup2 {
  top: 5px;
  left: 1178px;
  width: 52px;
  height: 52px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-ellipse11 {
  top: 0px;
  left: 0px;
  width: 52px;
  height: 52px;
  position: absolute;
  border-color: transparent;
}
.home-vector07 {
  top: 13.183100700378418px;
  left: 5.859158039093018px;
  width: 39px;
  height: 39px;
  position: absolute;
}
.home-text053 {
  top: 26px;
  left: 922px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame21 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 74px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle11 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 74px;
  position: absolute;
  border-color: transparent;
}
.home-text055 {
  top: 26px;
  left: 1066px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text057 {
  top: 23px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text059 {
  top: 26px;
  left: 675px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text061 {
  top: 26px;
  left: 735px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text063 {
  top: 26px;
  left: 789px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text065 {
  top: 26px;
  left: 1013px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-rectangle21 {
  top: 15px;
  left: 229px;
  width: 409px;
  height: 41px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-text067 {
  top: 26px;
  left: 242px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-vector08 {
  top: 26px;
  left: 613px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.home-maskgroup3 {
  top: 7px;
  left: 1212px;
  width: 52px;
  height: 52px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-ellipse12 {
  top: 0px;
  left: 0px;
  width: 52px;
  height: 52px;
  position: absolute;
  border-color: transparent;
}
.home-vector09 {
  top: 13.183100700378418px;
  left: 5.859158039093018px;
  width: 39px;
  height: 39px;
  position: absolute;
}
.home-text069 {
  top: 26px;
  left: 922px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-mail11 {
  top: 25px;
  left: 1168px;
  width: 27px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.home-group6 {
  top: 707px;
  left: 134px;
  width: 733px;
  height: 154.3304443359375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-rectangle81 {
  top: 0px;
  left: 0px;
  width: 733px;
  height: 125px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-text071 {
  top: 28px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text073 {
  top: 54px;
  left: 81px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text074 {
  color: rgba(131, 131, 131, 1);
}
.home-text075 {
  color: rgba(0, 0, 0, 1);
}
.home-text077 {
  top: 52px;
  left: 328px;
  color: rgba(84, 146, 109, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text078 {
  color: rgba(84, 146, 109, 1);
}
.home-text080 {
  top: 54px;
  left: 225px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-maskgroup4 {
  top: 21px;
  left: 18px;
  width: 46px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-ellipse13 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.home-vector10 {
  top: 11.661977767944336px;
  left: 5.183077335357666px;
  width: 34px;
  height: 34px;
  position: absolute;
}
.home-vector11 {
  top: 54px;
  left: 210px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.home-text082 {
  top: 84px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 693px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group11 {
  top: 19px;
  left: 561px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-bxschatsvg1 {
  top: 5px;
  left: 6px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.home-text087 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group21 {
  top: 19px;
  left: 610px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-text089 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector12 {
  top: 6px;
  left: 8px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.home-group31 {
  top: 19px;
  left: 659px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-text091 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector13 {
  top: 6px;
  left: 8px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.home-search {
  top: 103.2520751953125px;
  left: 552.811279296875px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-filter {
  top: 129.3304443359375px;
  left: 539.4110717773438px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-rocketchat {
  top: 90.2926025390625px;
  left: 616.6908569335938px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-star {
  top: 90.2926025390625px;
  left: 616.6908569335938px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-link {
  top: 90.2926025390625px;
  left: 616.6908569335938px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-group5 {
  top: 489px;
  left: 134px;
  width: 733px;
  height: 200px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.home-maskgroup5 {
  top: 25px;
  left: 18px;
  width: 47px;
  height: 47px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-ellipse2 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.home-image3 {
  top: -0.4699999988079071px;
  left: -6.579999923706055px;
  width: 66px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.home-text093 {
  top: 28px;
  left: 81px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text095 {
  top: 54px;
  left: 81px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text096 {
  color: rgba(131, 131, 131, 1);
}
.home-text097 {
  color: rgba(0, 0, 0, 1);
}
.home-text099 {
  top: 54px;
  left: 260px;
  color: rgba(84, 146, 109, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text100 {
  color: rgba(84, 146, 109, 1);
}
.home-text102 {
  top: 55px;
  left: 170px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector14 {
  top: 55px;
  left: 155px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.home-text104 {
  top: 84px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 693px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector1stroke1 {
  top: 145px;
  left: 13px;
  width: 697px;
  height: 1px;
  position: absolute;
}
.home-group12 {
  top: 19px;
  left: 561px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-bxschatsvg2 {
  top: 5px;
  left: 6px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.home-text109 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group22 {
  top: 19px;
  left: 610px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-text111 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector15 {
  top: 6px;
  left: 8px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.home-group32 {
  top: 19px;
  left: 659px;
  width: 40px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 1);
}
.home-text113 {
  top: 4px;
  left: 21px;
  color: rgba(131, 131, 131, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-vector16 {
  top: 6px;
  left: 8px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.home-search1 {
  top: 103.2520751953125px;
  left: 552.811279296875px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-filter1 {
  top: 129.3304443359375px;
  left: 539.4110717773438px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-rocketchat1 {
  top: 90.2926025390625px;
  left: 616.6908569335938px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-star1 {
  top: 90.2926025390625px;
  left: 616.6908569335938px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-link1 {
  top: 90.2926025390625px;
  left: 616.6908569335938px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-frame11 {
  top: 154px;
  left: 650px;
  width: 59px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle132 {
  top: 3px;
  left: 0px;
  width: 59px;
  height: 27px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.home-text115 {
  top: 7px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame22 {
  top: 643px;
  left: 705px;
  width: 59px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle133 {
  top: 3px;
  left: 0px;
  width: 59px;
  height: 27px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.home-text117 {
  top: 9px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-frame13 {
  top: 539px;
  left: 887px;
  width: 270px;
  height: 346px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-frame14 {
  top: 158px;
  left: 887px;
  width: 286px;
  height: 381px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-rectangle9 {
  top: 0px;
  left: 6px;
  width: 254px;
  height: 372px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-text119 {
  top: 19px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-vector2stroke {
  top: 48px;
  left: 24px;
  width: 220px;
  height: 1px;
  position: absolute;
}
